[submodule "lib/tracey"]
	path = lib/tracey
	url = git@github.com:youhaowei/tracey.git
[submodule "lib/unifai"]
	path = lib/unifai
	url = git@github.com:youhaowei/unifai.git
[submodule "lib/wystack"]
	path = lib/wystack
	url = git@github.com:youhaowei/wystack.git
